@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Perfil</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/custom/custom-side-bar/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/sidebar.css" />
    <link rel="stylesheet" href="~/css/manage.css" />
</head>

<body>
    <div class="container-fluid">

        <i class="bi bi-list open-nav" onclick="openNav()"></i>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="sidenav" id="mySidenav">
                <a onclick="closeNav()"><i class="bi bi-x-lg icon closeNav"></i></a>
                <a onclick="closeNav()"><i class="bi bi-x-lg icon closeNav"></i></a>
                <a onclick="location.href='@Url.Action("Index","Home")'"><i class="bi bi-map-fill icon"
                        id="map-nav"></i></a>
                <a onclick="location.href='@Url.Action("Criar","PontoColeta")'"><i class="bi bi-recycle icon"
                        id="ponto-nav"></i></a>
                <a asp-page="./Index"><i
                        class="bi bi-person-fill icon @ManageNavPages.IndexNavClass(ViewContext)"></i></a>
                <a asp-page="./ChangePassword"><i
                        class="bi bi-shield-lock-fill icon @ManageNavPages.ChangePasswordNavClass(ViewContext)"></i></a>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper" style="min-width: unset;">
                <!-- Page content-->
                <div class="mt-4">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/custom/custom-side-bar/js/scripts.js"></script>
    <script>
        function openNav()
        {
            document.getElementById("mySidenav").style.width = "90px";
        }

        function closeNav()
        {
            document.getElementById("mySidenav").style.width = "0px";
        }
    </script>
</body>

</html>

@RenderSection("Scripts", false)
