@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="row">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h3>
                        Olá @Model.Username, você já cadastrou
                        <span class="text-success">@Model.TotalPontosColetaCadastrados pontos de coleta</span> 😊
                    </h3>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2>Seus pontos de coleta cadastrados</h2>
                </div>
                <div class="card-body">
                    @foreach (var ponto in Model.PontosColeta)
                    {
                        <div class="pontoColeta d-flex align-items-center mb-3"
                        onclick="location.href='@Url.Action("Detalhes","PontoColeta", new {id = ponto.Id})'">
                            <img src="~/Imagens/@ponto.Imagem" class="rounded" alt="Ponto de Coleta" />
                            <div class="d-flex flex-column labels">
                                <h4>@ponto.Nome</h4>
                                <h6>@ponto.TipoPonto.Nome</h6>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}